<?xml version='1.0' encoding='utf-8'?>
<widget id="seven.lab.boga" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Boga</name>
    <description>Boardgame Box</description>
    <author email="dna2gle@gmail.com" href="https://cordova.apache.org">
        Seven Liu and its contributors
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
